* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    padding: 70px;    
    
}

.hero-main {
    height: 100vh;
    display: flex;
    overflow: hidden; 
    background-color: black;    
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    /* column-gap: 15px;   */
    justify-content: center;
    
}

.user-phone {
    display: flex;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 25px;
    padding: 0 8px;
    opacity: 0.6;
    gap: 5px;
}

.user {
    width: calc(100% / 7);
    height: calc(100% / 5);       
}

.user-card {
    color: white;
    position: relative;        
}

.toolbar {
    background-color: aqua;
    height: 40px;
}